body {
  font-family: Helvetica,Tahoma,sans-serif,Arial;
  margin: 0;
  background-color: #eee;
  font-size: 17px;
}

.navbarr {
  width: 100%;
  overflow: hidden;
  /*background-color: #00BFFF;*/
  background-color: #1cbbb4;
  /*z-index: 2;*/
}
.navbarr a {
  float: left;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}
.navbarr a:hover, .subnav:hover .subnavbtn {
  background-color: #00BFFF;
}

.subnav {
  float: left;
  overflow: hidden;
  z-index: 3;
}
.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #00BFFF;
  width: 100%;
  z-index: 3;

  padding-top:10px; 
  padding-bottom: 10px;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
.subnav-content a:hover {
  color: #808080;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}
.subnav:hover .subnav-content {
  display: block;
}




* {box-sizing: border-box}
/*body {font-family: Verdana, sans-serif; margin:0}*/
.mySlides {display: none}
img {vertical-align: middle;}





.openbtn {
  cursor: pointer;
  color: white;
  border: none;
   z-index: 4;
}
.openbtn:hover {
  background-color:#20a0ff;
  z-index: 4;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 10px 20px 10px 30%;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color: #111111;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/




#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1cbbb4;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}
#topBtn:hover {
  background-color: #555;
}
#topBtn img {
  width: 30px;
  padding:0px;
  margin:0px; 
}




#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 0px 5px 5px 0px;
}
#mySidenav a:hover {
  left: 0px;
}
#cuahang {
  top: 115px;
  background-color: #f44336;
}
#khoahoc {
  top: 195px;
  background-color: #04AA6D;
}
/*#tieuthuyet {
  top: 195px;
  background-color: #ffc107;
}*/






.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}



.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {background-color: #ddd;}





.footer {
  padding-top: 20px;
  /*text-align: center;*/
  background: #ddd;
}


/*< 1 2 3 4 5 >*/
.btnn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.activen, .btnn:hover {
  background-color: #666;
  color: white;
}

.justify-content-center{-ms-flex-pack:center!important;justify-content:center!important}
.pagination{display:-ms-flexbox;display:flex;padding-left:0;list-style:none;border-radius:.25rem}






.trang {
  margin-top: 10px;
}
.trang img {
  border-radius: 3px 3px 3px 3px;
  width: 100%;
}

.img300 img {
  width: 300px;
}

.img250 img {
  width: 250px;
}

.topp {
  margin-top: 10px;
  margin-bottom: 10px;
}

.top10 {
  margin-top: 10px;
}
}




.truyen a {
  text-decoration: none;
}
.truyen img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 80%;
}
.truyen .alert {
  text-align: center;
}





.text-block {
  position: absolute;
  top: 150px;
  right: 200px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


/*.contentt {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
*/


@media screen and (max-width: 500px) {
  .navbarr a {
    display: block;
  }
}



.alert {
  text-align: center;
}




/*hinh anh*/

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1369 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #20638f;
  text-align: left;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  border-radius: 5px 5px 5px 5px;

}
.snip1369 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.snip1369 > img,
.snip1369 .image img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  max-width: 100%;
}
.snip1369 > img {
  vertical-align: top;
  position: relative;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.6;
}
.snip1369 figcaption,
.snip1369 .image {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1369 .image {
  position: absolute;
  top: 0;
  bottom: 25%;
  right: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.2);
}


.snip1369 .image img {
  position: absolute;
  top: 0;
}
.snip1369 figcaption {
  position: absolute;
  top: 75%;
  bottom: 46px;
  left: 20px;
  right: 20px;
  border-bottom: 2px solid #ffffff;
  padding-top: 20px;
  z-index: 1;
}

.snip1370 figcaption {
  top: 74%;
  padding-bottom: 50px;
}

.snip1369 h3,
.snip1369 p {
  margin: 0;
}
.snip1369 h3 {
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.snip1369 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 0;
}
.snip1369 .read-more {
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  color: #ffffff;
  right: 0;
  bottom: 0;
  font-weight: 500;
  position: absolute;
}
.snip1369 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.snip1369:hover .read-more,
.snip1369.hover .read-more,
.snip1369:hover figcaption,
.snip1369.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.snip1369:hover figcaption,
.snip1369.hover figcaption,
.snip1369:hover .image,
.snip1369.hover .image {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1369:hover figcaption,
.snip1369.hover figcaption {
  top: 50%;
}
.snip1370:hover figcaption,
.snip1370.hover figcaption {
  top: 15%;
}

.snip1369:hover .image,
.snip1369.hover .image {
  bottom: 50%;
}

.snip1370:hover .image,
.snip1370.hover .image {
  bottom: 85%;
}

.snip1369:hover p,
.snip1369.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}






/*tag*/
.tags {
  font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: crimson;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #eee;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #eee;
  border-bottom: 13px solid transparent;
  border-left: 10px solid crimson;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #1cbbb4;
  color: white;
  text-decoration: none;
}

.tag:hover::after {
   border-left-color: #1cbbb4; 
}





.binhThuong {
  text-decoration: none;
  color: black;
}

.binhThuong:hover {
  color: #1cbbb4;
  text-decoration: none;
}